* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer,
nav {
    background-color: #e9edc9;
}

/* mobile **************************/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

header,
main {
    max-width: 767px;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
}

nav {
    background-color: #36454f;
    margin: 0 auto;
    max-width: 800px;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: overline;
}

.active {
    color: yellow;
}

/****************/

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    max-width: 750px;
    margin: 50px auto;

}

body header span {
    font-size: 2rem;
}

.main-column {
    margin: 1rem 2vw;
}

.card {
    border: 1px solid #415541;
    background-color: #e9f5e9;
    border-radius: 10px;
    margin: 1rem 0;
    overflow: hidden;
}

.card h2 {
    background-color: #415541;
    color: #fff;
    display: block;
    text-align: center;
    padding: .75rem 0;


}

.card ul,
p {
    padding: 10px;
    font-weight: 400;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 15px 15px 0 0;
}


/* week 3 addition */
#menu {
    /* font-size: 1.5rem; */
    /* border: 1px solid rgba(0, 0, 0, .3); */
    font-size: 2rem;
    border: none;
    cursor: pointer;
    width: 44px;
    text-align: right;
    padding: .25rem .75rem;
    background-color: #eee;
    color: #000;
    position: absolute;
    top: 4rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #333;
    color: #fff;
}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation li a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

.active::before {
    content: "📍 ";
}