* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer,
nav {
    background-color: #e9edc9;
}

/* mobile **************************/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

header,
main {
    max-width: 767px;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
}

nav {
    background-color: #36454f;
    margin: 0 auto;
    max-width: 800px;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: overline;
}

.active {
    color: yellow;
}

/****************/

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    max-width: 750px;
    margin: 50px auto;

}

body header span {
    font-size: 2rem;
}

.main-column {
    margin: 1rem 2vw;
}

.card {
    border: 1px solid #415541;
    background-color: #e9f5e9;
    border-radius: 10px;
    margin: 1rem 0;
    overflow: hidden;
}

.card h2 {
    background-color: #415541;
    color: #fff;
    display: block;
    text-align: center;
    padding: .75rem 0;


}

.card ul,
p {
    padding: 10px;
    font-weight: 400;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 15px 15px 0 0;
}