@media only screen and (min-width: 600px) {
    .main-column {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 10px;
    }

    .card {
        box-shadow: 1px 1px 10px black;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    /* week 3 addition */
    /* hides the menu button when the screen is 600px */
    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    iframe {
        width: 100%;
        height: fit-content;
    }
}